{% extends 'invoice/base.html'%}

{% block content %}
<table class= "table table-hover">
	<thead>
      <tr>
        <th>Owner #1</th>
        <th>Owner #2</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
    {% for home in homes %}
		<tr>
	        <td>{{ home.first_name1 }} {{ home.last_name1 }}</td>
	        <td>{{ home.first_name2 }} {{ home.last_name2 }}</td>
	        <td>{{ home.address }}</td>
	        <td>{{ home.email }}</td>
	        <td> {{ home.phone_number}}</td>
      	</tr>
	{% endfor %}
    </tbody>
 </table>
{% endblock %}