{% extends 'invoice/base.html'%}

{% block content %}
<h2>Homeowner's Information</h2>
<table class= "table table-hover">
  <thead>
      <tr>
        <th>Owner #1</th>
        <th>Owner #2</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th>Agent Email</th>
      </tr>
    </thead>
    <tbody>
    {% for home in homes %}
    <tr class="clickable-row" data-href = "{% url 'edit_household' pk=home.pk %}" >
          <td>{{ home.first_name1 }} {{ home.last_name1 }}</td>
          <td>{{ home.first_name2 }} {{ home.last_name2 }}</td>
          <td>{{ home.address }}</td>
          <td>{{ home.email }}</td>
          <td>{{ home.phone_number}}</td>
          <td>{{ home.status }}</td>
          <td>{{ home.agent_email_status }}
        </tr>
  {% endfor %}
    </tbody>
 </table>
 <h4>{{ string }}</h4>
{% endblock %}